export(amr_continuous)
export(amr_longitudinal)
export(dmr_case_control)
export(dmr_case_control_cov)
export(dmr_paired)
export(mr_bi)
export(mr_continuous)
importFrom(stats,as.formula)
importFrom(stats,complete.cases)
importFrom(stats,cor)
importFrom(stats,lm)
importFrom(stats,p.adjust)
importFrom(stats,sd)
importFrom(stats,wilcox.test)
